html {
	font-family: "serif";
}

body {
	background-color: f8fbf6;
}

a {
	color: pink;
}

h1 {
	text-align: center;
	border: 1px green solid;
}

p {
	font-size: 16px;
	font-weight: bold;
}

img {
	width: 777px;
	height: 500px;
}

ul {
	text-align: start;
}
