html {
	font-family: "serif";
}

body {
	background-color: #f8fbf6;
}

a {
	color: #d0f0c0;
}

h1 {
	text-align: center;
	border: 2px green solid;
}

p {
	font-size: 16px;
	font-weight: bold;
}

img {
	width: 777px;
	height: 500px;
}

ul {
	font-family: "Arial";
}
