html {
	font-family: "Times";
}

body {
	background-color: rgb(222 236 255);
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	height: auto;
}

nav {
	background-color: rgb(241 238 237);
}

#n0 {
	margin: 0;
	padding: 1em;
}

#n0 li {
	display: inline;
	margin: 0;
	margin-right: 1em;
}

#n0 li a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.active {
	background-color: red;
	border: 1em solid red;
	border-radius: 1em;
}

h1 {
	padding: auto;
	text-align: center;
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
	margin-left: 1em;
	text-decoration: underline;
}

img {
	float: left;
	margin: 0.8em;
}

#img0 {
	height: 12em;
	width: 18em;
}

p {
	font-size: 1.9em;
	margin: 1em;
	text-indent: 2em;
}
